* {
	font-size: 20px;
	font-family: Fira Code Nerd Font,  monospace;
}

window#waybar {
	background: #3b4252;
	color: #d8dee9;
}

#custom-logo{
  background: #2e3440;
  color: #d8dee9;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #2e3440;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #3b4252;
	background: #2e3440;
}

#workspaces,
#window,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#network,
#disk,
#tray {
	background: #2e3440;
}

#window {
  font-size: 15px;
}

#workspaces button {
	padding: 0 2px;
	color: #d8dee9;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #2e3440;
	border: #2e3440;
	padding: 0 3px;
}

#pulseaudio {
	color: #BF616A;
}
#memory {
	color: #D08770;
}
#cpu {
	color: #EBCB8B;
}
#network {
	color: #A3BE8C;
}
#disk {
	color: #b48ead;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
	padding: 0 10px;
}
